# From different .gitignores on: github.com/github/gitignore

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ
*.iml
.idea/
*.ipr
*.iws
/out/

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
